<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{page.title}} - FELXS | 成长从这里开始</title>
	 <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="web-site" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="wap-font-scale"  content="no"/>
    <link rel="shortcut icon" href="http://s.zbjimg.com/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/dist/css/common/common.css">
    <link rel="stylesheet" href="/dist/css/{{page.link_path}}">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
